<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.yallachayaani">

    <application
        android:allowBackup="true"
        android:icon="@drawable/yalla3"
        android:label="يلا شيعني"
        android:roundIcon="@drawable/yalla"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".About"/>
        <activity android:name=".Profile" />
        <activity android:name=".Authentifier">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Inscrit" />
        <activity android:name=".Details" />
        <activity android:name=".MesOffres" />
        <activity android:name=".MesReservations" />
        <activity android:name=".Ajouter" />
        <activity android:name=".Chercher" />
        <activity android:name=".Notifications" />
        <activity android:name=".Accueil" />
    </application>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>